# Web Server variables
WEB_HOST=0.0.0.0
WEB_PORT=8080
API_BASE=http://[kafka api url]:8000
GREENHOUSE_ID=[greenhouse_id]
REFRESH_INTERVAL=30000

#Decision Engine variables
KAFKA_BROKERS=[kafka_ip]:9092
TARGET_TEMP=75
TEMP_TOLERANCE=3
FAN_ON_TEMP=80
FAN_OFF_TEMP=76
HIGH_HUMIDITY=80
EMERGENCY_HIGH_TEMP=95
EMERGENCY_LOW_TEMP=40
